#app-sign-movies {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: #fbfbfb;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 300;
}

#app-sign-movies .selection {
    width: 100%;
    padding: 1em 2em;
}

#app-sign-movies .selection a {
    font-size: 1.5em;
    padding: 0 1em;
    cursor: pointer;
}

/* Media Screen */
@media only screen and (max-width: 1920px) {
    #app-sign-movies .selection a {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1600px) {
    #app-sign-movies .selection a {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 1366px) {
    #app-sign-movies .selection a {
        font-size: 1.2em;
    }
}


@media only screen and (max-width: 600px) {
    #app-sign-movies {
        width: 100%;
    }
    #app-sign-movies .selection a {
        font-size: 1em;
    }
}