#app-sigin-movies {
    width: 70%;
    padding: 2em 1em;
    text-align: center;
    
}

#app-sigin-movies h3 {
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
    width: 50%;
    margin: 0 25%;
    line-height: 1.5em;
}

#app-sigin-movies form {
    padding: 2em 3em;
}

#app-sigin-movies form input[type="text"], input[type="password"] {
    width: 50%;
    margin: 1em 25%;
    border: none;
    border-bottom: 2px #ccc solid;
    padding: 0.5em;
}

#app-sigin-movies form input[type="text"]:hover, input[type="password"]:hover {
    border-bottom: 2px #262626 solid;
}

#app-sigin-movies form input[type="text"]:active, input[type="password"]:active {
    border-bottom: 2px #262626 solid;
}

#app-sigin-movies form input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px #262626 solid;
}

#app-sigin-movies form button {
    background-color: #262626;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    margin: 1em 0;
}

#app-sigin-movies form button:hover {
    background-color: #161616;
}

/* Media Screen */
@media only screen and (max-width: 1920px) {
    #app-sigin-movies {
        width: 70%;
        padding: 2em 1em;
    }
    #app-sigin-movies h3 {
        font-size: 1.5em;
        width: 50%;
        margin: 0 25%;
    }
    #app-sigin-movies form {
        padding: 2em 3em;
    }
    #app-sigin-movies form input[type="text"], input[type="password"] {
        width: 50%;
        margin: 1em 25%;
    }
}

@media only screen and (max-width: 1600px) {
    #app-sigin-movies {
        width: 80%;
        padding: 2em 1em;
    }
    #app-sigin-movies h3 {
        font-size: 1.5em;
        width: 60%;
        margin: 0 20%;
    }
    #app-sigin-movies form {
        padding: 2em 3em;
    }
    #app-sigin-movies form input[type="text"]{
        width: 60%;
        margin: 1em 20%;
    }
    #app-sigin-movies form input {
        width: 60%;
        margin: 1em 20%;
    }
}

@media only screen and (max-width: 1024px) {
    #app-sigin-movies {
        width: 100%;
        padding: 2em 1em;
    }
    #app-sigin-movies h3 {
        font-size: 1.5em;
        width: 80%;
        margin: 0 10%;
    }
    #app-sigin-movies form {
        padding: 2em 1em;
    }
    #app-sigin-movies form input[type="text"]{
        width: 80%;
        margin: 1em 10%;
    }
    #app-sigin-movies form input {
        width: 80%;
        margin: 1em 10%;
    }
}
