#app-movies-movies {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding: 100px 30px 30px 100px;
}

@media only screen and (max-width: 800px) {
    #app-movies-movies {
        padding: 50px 10px 10px 55px;
    }
}