.edit-turns-into-movies-modal .modal-content{
    border-radius: 0;
}

.edit-turns-into-movies-modal .modal-header{
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.edit-turns-into-movies-modal .modal-title {
    font-weight: 300;
}

.edit-turns-into-movies-modal select {
    border: none;
    border-bottom: #ccc 2px solid;
    padding: 0.5em 1em;
    cursor: pointer;
    line-height: inherit;
    outline: none;
    font-weight: 300;
    width: 50%;
    margin: 1em 25%;
}

.edit-turns-into-movies-modal select::-ms-expand {
    display: none;
}

.edit-turns-into-movies-modal .chips {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.edit-turns-into-movies-modal .chip {
    background-color: #262626;
    border: none;
    color: #fff;
    width: 23%;
    margin: 0.5em 1%;
}