#menu-horizontal-movies {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px #ccc solid;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 1000;
}

#menu-horizontal-movies a {
    color: #262626
}

#menu-horizontal-movies .search {
    margin-left: 70px;
    min-width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 3em;
}

#menu-horizontal-movies .search i{
    font-size: 1.2em;
}

#menu-horizontal-movies .activities {
    position: absolute;
    right: 0;
    top:0;
    width: 150px;
    height: 70px;
    padding: 0 3em;
}

#menu-horizontal-movies .activities-items {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
}

#menu-horizontal-movies .activities-item{
    width: 98%;
    margin: 0 1%;
    text-align: center;
}

#menu-horizontal-movies .ewisemaps-user-item-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#menu-horizontal-movies .ewisemaps-user-item-actions i {
    width: 50%;
    text-align: left;
    color: #363636;
}

#menu-horizontal-movies .ewisemaps-user-item-actions span {
    width: 50%;
    text-align: right;
    color: #363636;
}


/* Media Screen */
@media only screen and (max-width: 1920px) {
    #menu-horizontal-movies {
        height: 70px;
    }
    #menu-horizontal-movies .search {
        margin-left: 70px;
        min-width: 250px;
        height: 70px;
        padding: 0 3em;
    }
    #menu-horizontal-movies .activities {
        width: 250px;
        height: 70px;
        padding: 0 3em;
    }
    #menu-horizontal-movies .activities-items {
        height: 70px;
    }
}

@media only screen and (max-width: 1600px) {
    #menu-horizontal-movies {
        height: 60px;
    }
    #menu-horizontal-movies .search {
        margin-left: 60px;
        min-width: 250px;
        height: 60px;
        padding: 0 3em;
    }
    #menu-horizontal-movies .activities {
        width: 250px;
        height: 60px;
        padding: 0 3em;
    }
    #menu-horizontal-movies .activities-items {
        height: 60px;
    }
}

@media only screen and (max-width: 1366px) {
    #menu-horizontal-movies {
        height: 55px;
    }
    #menu-horizontal-movies .search {
        margin-left: 55px;
        min-width: 250px;
        height: 55px;
        padding: 0 3em;
    }
    #menu-horizontal-movies .activities {
        width: 250px;
        height: 55px;
        padding: 0 3em;
    }
    #menu-horizontal-movies .activities-items {
        height: 55px;
    }
}

@media only screen and (max-width: 1280px) {
    #menu-horizontal-movies {
        height: 50px;
    }
    #menu-horizontal-movies .search {
        margin-left: 50px;
        min-width: 250px;
        height: 50px;
        padding: 0 3em;
    }
    #menu-horizontal-movies .activities {
        width: 250px;
        height: 50px;
        padding: 0 3em;
    }
    #menu-horizontal-movies .activities-items {
        height: 50px;
    }
}


