#menu-vertical-movies {
    background-color: #262626;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    z-index: 1000;
}

#menu-vertical-movies .logo {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

#menu-vertical-movies .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#menu-vertical-movies .navigation{
    max-width: 100%;
}

#menu-vertical-movies .navigation ul{
    list-style: none;
    color: #fbfbfb;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#menu-vertical-movies .navigation ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#menu-vertical-movies .navigation ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

#menu-vertical-movies .navigation ul::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px;
}

#menu-vertical-movies .navigation ul::-webkit-scrollbar-thumb:hover {
    background: #444; 
}

#menu-vertical-movies .navigation ul li {
    text-align: left;
    height: 10vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 30%;
}

#menu-vertical-movies .navigation a {
    font-size: 1.5em;
    color: #fbfbfb !important;
}

#menu-vertical-movies .navigation a svg{
    font-size: 1.5em;
    color: #fbfbfb !important;
}

#menu-vertical-movies .navigation a:hover {
    color: #fbfbfb !important;
}


/* Media Screen */
@media only screen and (max-width: 1920px) {
    #menu-vertical-movies {
        width: 70px;
    }
    #menu-vertical-movies .logo img{
        height: 50px;
    }
    #menu-vertical-movies .navigation ul li {
        padding-left: 30%;
    }
}

@media only screen and (max-width: 1600px) {
    #menu-vertical-movies {
        width: 60px;
    }
    #menu-vertical-movies .logo img{
        width: 40px;
        height: 40px;
    }
    #menu-vertical-movies .navigation ul li {
        padding-left: 25%;
    }
}

@media only screen and (max-width: 1366px) {
    #menu-vertical-movies {
        width: 55px;
    }
    #menu-vertical-movies .logo img{
        height: 35px;
        width: 35px;
    }
}

@media only screen and (max-width: 1280px) {
    #menu-vertical-movies {
        width: 50px;
    }
    #menu-vertical-movies .logo img{
        height: 30px;
       width: 30px;
    }
}

