.edit-turns-modal .modal-content{
    border-radius: 0;
}

.edit-turns-modal .modal-header{
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.edit-turns-modal .modal-title {
    font-weight: 300;
}

.edit-turns-modal form{
    width: 100%;
    pediting: 1.5em;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.edit-turns-modal form .input{
    width: 48%;
    margin: 0.5em 1%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.edit-turns-modal form .input span {
    width: 100%;
    pediting: 0.5em 0;
    text-align: center;
    font-weight: 400;
}


.edit-turns-modal form .submit {
    width: 40%;
    margin: 1em 30%;
    background-color: #262626;
    color: #fbfbfb;
    border: none;
    pediting: 0.5em 0;
}

.edit-turns-modal form .switch_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 50px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}


.edit-turns-modal form .box_1{
	background: #fff;
}

.edit-turns-modal form input[type="checkbox"].switch_1{
	font-size: 10px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 2.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 20px;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.edit-turns-modal form input[type="checkbox"].switch_1:checked{
    background: #2C364C;
}

.edit-turns-modal form input[type="checkbox"].switch_1:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
            box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
            transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.edit-turns-modal form input[type="checkbox"].switch_1:checked:after{
    left: calc(100% - 1.5em);
}